# pip install torch==1.12.1+cu116 torchvision==0.13.1+cu116 torchaudio==0.12.1 --extra-index-url https://download.pytorch.org/whl/cu116
bitsandbytes
transformers
peft
accelerate
openai
pandas==2.0.2
huggingface_hub
scikit-learn==1.2.2 
scipy==1.10.1 
threadpoolctl==3.1.0